@import "_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

body {
	counter-reset: h2;
}

.navbar {
	border-radius: 0;
	margin-bottom: 1em;
}

main {
	@include make-container();
	@include make-container-max-widths();
}

pre {
	background-color: $gray-lighter;
	padding: 0.25rem 0.75rem;
}

.file {
	min-width: 100%;
}
//
.custom-file-control-glxosd {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	height: $custom-file-height;
	padding: $custom-file-padding-x $custom-file-padding-y;
	line-height: $custom-file-line-height;
	color: $custom-file-color;
	user-select: none;
	background-color: $custom-file-bg;
	width: 100%;
	border: $custom-file-border-width solid $custom-file-border-color;
	@include border-radius($custom-file-border-radius);
	@include box-shadow($custom-file-box-shadow);

	&::before {
		position: absolute;
		top: -$custom-file-border-width;
		right: -$custom-file-border-width;
		bottom: -$custom-file-border-width;
		z-index: 6;
		display: block;
		height: $custom-file-height;
		padding: $custom-file-padding-x $custom-file-padding-y;
		line-height: $custom-file-line-height;
		color: $custom-file-button-color;
		background-color: $custom-file-button-bg;
		border: $custom-file-border-width solid $custom-file-border-color;
		@include border-radius(0 $custom-file-border-radius $custom-file-border-radius 0);
	}

	&::before {
		content: "Browse";
	}
}

.graph-container {
	margin-right: auto !important;
	margin-left: auto !important;
}
.graph-container div {
	margin-right: auto !important;
	margin-left: auto !important;
}

.graph-container .graph-legend {
	text-align: center !important;
	min-height: 5rem;
}

.form-inline label {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

kbd {
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}


table {
	width: 100%;
	max-width: 100%;
	margin-bottom: $spacer;

	th,
	td {
		padding: $table-cell-padding;
		vertical-align: top;
		border-top: $table-border-width solid $table-border-color;
	}

	thead th {
		vertical-align: bottom;
		border-bottom: (2 * $table-border-width) solid $table-border-color;
	}

	tbody + tbody {
		border-top: (2 * $table-border-width) solid $table-border-color;
	}

	.table {
		background-color: $body-bg;
	}
	border: $table-border-width solid $table-border-color;

	th,
	td {
		border: $table-border-width solid $table-border-color;
	}

	thead {
		th,
		td {
			border-bottom-width: (2 * $table-border-width);
		}
	}
}
.image-gallery-root {
	background-color: #000000;
}
.image-gallery-root .image-gallery-left-nav,
.image-gallery-root .image-gallery-right-nav {
	width: 50%;
	opacity: 0;
}


.image-gallery-right-nav {
	
}