{
  "extends": "eslint-config-airbnb",
  "rules": {
    "indent": [2, "tab"],
    "no-console": [0],
    "func-names": [0],
    "semi": [2, "always"],
    "no-extra-semi": [2],
    "space-before-function-paren": [2, "never"],
    "no-else-return": [0],
    "space-infix-ops": [0],
    "object-curly-spacing": [2, "never"],
    "react/prefer-es6-class": [1],
    "react/prefer-stateless-function": [0],
    "react/jsx-closing-bracket-location": [0],
    "react/jsx-indent-props": [0],
    "react/jsx-space-before-closing": [2, "never"],
    "react/jsx-no-bind": [0],
    "quotes": [2, "double"],
    "comma-dangle": [2, "never"],
    "keyword-spacing": [0],
    "max-len": [0]
  },
  "globals": {
    "__PREFIX_LINKS__": true,
  },
}
