<head>
	<meta charset="utf-8" />
	<meta http-equiv="refresh" content="0; url=http://glxosd.nickguletskii.com/{{page.url}}">
	<link rel="canonical" href="http://glxosd.nickguletskii.com/{{page.url}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />{% if page.description %}
	<meta name="Description" CONTENT="{{ page.description }}">{% else %}
	<meta name="Description" CONTENT="{{ page.title }}">{% endif %}
	<title>{{ page.title }} - {{ site.title }}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/foundation.css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/foundicon.css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/app.css" />
	<script>
	var siteUrl = '{{site.baseurl}}';
	</script>

	<script>
	var require = {
		baseUrl: siteUrl + "/js",
		paths: {
			"jquery": "jquery",
			"jquery-ui": "jquery-ui",
			"foundation": "foundation.min",
			"jquery.colorhelpers": "jquery.colorhelpers",
			"jquery.flot.canvas": "jquery.flot.canvas",
			"jquery.flot.categories": "jquery.flot.categories",
			"jquery.flot.crosshair": "jquery.flot.crosshair",
			"jquery.flot.errorbars": "jquery.flot.errorbars",
			"jquery.flot.fillbetween": "jquery.flot.fillbetween",
			"jquery.flot.image": "jquery.flot.image",
			"jquery.flot": "jquery.flot",
			"jquery.flot.navigate": "jquery.flot.navigate",
			"jquery.flot.pie": "jquery.flot.pie",
			"jquery.flot.resize": "jquery.flot.resize",
			"jquery.flot.selection": "jquery.flot.selection",
			"jquery.flot.stack": "jquery.flot.stack",
			"jquery.flot.symbol": "jquery.flot.symbol",
			"jquery.flot.threshold": "jquery.flot.threshold",
			"jquery.flot.time": "jquery.flot.time",
			"html2canvas": "html2canvas",
			"canvas-toBlob": "canvas-toBlob",
			"FileSaver": "FileSaver"
		},
		shim: {
			'foundation': {
				deps: ['jquery']
			},
			'jquery': {
				deps: []
			},
			'html2canvas': {
				deps: []
			},
			'canvas-toBlob': {
				deps: []
			},
			'FileSaver': {
				deps: ['canvas-toBlob']
			},
			"jquery.colorhelpers": {
				deps: ["jquery"]
			},
			"jquery.flot": {
				deps: ["jquery", "jquery.colorhelpers"]
			},
			'jquery-ui': {
				deps: ['jquery']
			},
			"jquery.flot.canvas": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.categories": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.crosshair": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.errorbars": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.fillbetween": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.image": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.navigate": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.pie": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.resize": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.selection": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.stack": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.symbol": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.threshold": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			},
			"jquery.flot.time": {
				deps: ["jquery", "jquery.flot", "jquery.colorhelpers"]
			}
		}
	};
	</script>
	{% if page.pageScript %}
	<script data-main="{{site.baseurl}}/js/{{page.pageScript}}.js" src="{{site.baseurl}}/js/require.js"></script>
	{% else %}
	<script data-main="{{site.baseurl}}/js/common.js" src="{{site.baseurl}}/js/require.js"></script>
	{% endif %}
	<script src="{{site.baseurl}}/js/modernizr.js"></script>
</head>