<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1><a href="index.html">Legacy GLXOSD</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li {% if ((page.url == "/index.html") or (page.url == "/")) %} class="active" {% endif %} ><a href="{{site.baseurl}}/index.html">Home</a></li>
			<li {% if (page.url == "/install.html") %} class="active" {% endif %}><a href="{{site.baseurl}}/install.html">Install</a></li>
			<li {% if (page.url == "/usage.html") %} class="active" {% endif %}><a href="{{site.baseurl}}/usage.html">How to use</a></li>
			<li {% if (page.url == "/analyse.html") %} class="active" {% endif %}><a href="{{site.baseurl}}/analyse.html">Analyse</a></li>
			<li {% if (page.url == "/faq.html") %} class="active" {% endif %}><a href="{{site.baseurl}}/faq.html">FAQ</a></li>
			<li><a style="background: orange;font-weight: bolder;" href="https://glxosd.nickguletskii.com">New version</a></li>
		</ul>
	</section>
</nav>
