Source: glxosd
Priority: optional
Maintainer: Nick Guletskii <nick@nickguletskii.com>
Build-Depends: debhelper (>= 9), cmake, libgl1-mesa-dev, libglu1-mesa-dev, mesa-common-dev, libfontconfig1-dev
Standards-Version: 3.9.6
Section: utils
Homepage: https://glxosd.nickguletskii.com/
Vcs-Git: https://github.com/nickguletskii/GLXOSD
Vcs-Browser: https://github.com/nickguletskii/GLXOSD

Package: glxosd
Multi-arch: foreign
Architecture: any
Depends: ${misc:Depends}, bash (>= 4.0), glxosd-libs-amd64 [amd64], glxosd-libs-i386(>= 3.2.2) [i386]
Suggests: glxosd-libs-i386(>= 3.2.2) [amd64]
Breaks: glxosd-libs-i386(< 3.2.2) [amd64]
Description: Overlay that displays FPS and CPU/GPU temperature in OpenGL applications.
 GLXOSD is an extensible on-screen display (OSD)/overlay for OpenGL applications
 running on Linux with X11 which aims to provide similar functionality to MSI
 Afterburner/RivaTuner OSD. It can show FPS, frame timings, temperatures and
 more in OpenGL games and applications. It can also be used to benchmark games,
 much like voglperf.
 This package provides the launcher.

Package: glxosd-libs-amd64
Architecture: amd64
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, libc6 (>= 2.19), libfontconfig1 (>= 2.11.0), libgcc1 (>= 1:4.9), glxosd-data(>= 3.2.2)
Recommends: libsensors4 [amd64], libglu1-mesa
Description: Overlay that displays FPS and CPU/GPU temperature in OpenGL applications.
 GLXOSD is an extensible on-screen display (OSD)/overlay for OpenGL applications
 running on Linux with X11 which aims to provide similar functionality to MSI
 Afterburner/RivaTuner OSD. It can show FPS, frame timings, temperatures and
 more in OpenGL games and applications. It can also be used to benchmark games,
 much like voglperf.
 This package provides the injectable libraries for the i386 architecture.

Package: glxosd-libs-i386
Multi-arch: foreign
Architecture: i386
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, libc6 (>= 2.19), libfontconfig1 (>= 2.11.0), libgcc1 (>= 1:4.9), glxosd-data(>= 3.2.2)
Recommends: libsensors4 [i386], libglu1-mesa
Description: Overlay that displays FPS and CPU/GPU temperature in OpenGL applications.
 GLXOSD is an extensible on-screen display (OSD)/overlay for OpenGL applications
 running on Linux with X11 which aims to provide similar functionality to MSI
 Afterburner/RivaTuner OSD. It can show FPS, frame timings, temperatures and
 more in OpenGL games and applications. It can also be used to benchmark games,
 much like voglperf.
 This package provides the injectable libraries for the amd64 architecture.

Package: glxosd-data
Multi-arch: foreign
Architecture: all
Depends: libfontconfig1, libfreetype6
Description: Overlay that displays FPS and CPU/GPU temperature in OpenGL applications.
 GLXOSD is an extensible on-screen display (OSD)/overlay for OpenGL applications
 running on Linux with X11 which aims to provide similar functionality to MSI
 Afterburner/RivaTuner OSD. It can show FPS, frame timings, temperatures and
 more in OpenGL games and applications. It can also be used to benchmark games,
 much like voglperf.
 This package provides the scripts and other shared data.

Package: glxosd-libs-libsensors-support-amd64
Architecture: amd64
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, glxosd-libs-amd64
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: glxosd-libs-libsensors-support-i386
Multi-arch: foreign
Architecture: i386
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, glxosd-libs-i386
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: glxosd-libs-nvidia-support-amd64
Architecture: amd64
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, glxosd-libs-amd64
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: glxosd-libs-nvidia-support-i386
Multi-arch: foreign
Architecture: i386
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, glxosd-libs-i386
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
